<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> CyberSafe</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sunflower">חמניה</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rose">ורד</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cyclamen">רקפת</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/iris">איריס</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anemone">כלנית</a>
      </li>
    </ul>
  </nav>