<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>  
<div class="row">
  <div class="col-sm-3">
    <div class="jumbotron">
        <h1>כלנית</h1>
        <p>פרח מוגן</p>
        <p>נפוץ מצפון הארץ ועד הרי הנגב</p>
      </div>
  </div> 

  <div class="col-sm-6">
    <div class="well">
      <h3>
        <img src="http://uk2.servebucket.com/reflyer.php?rb=width&size=960&src=http://sbstatic.org/img/1384078061ia_55316632_Subscription_L.jpg" alt="כלנית" height="500" width="750">
      </h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>