<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>  
<div class="row">
  <div class="col-sm-3">
    <div class="jumbotron">
        <h1>רקפת</h1>
        <p>פרח מוגן</p>
        <p>נפוצה בעיקר באזורים קרים וממוזגים בכדור הארץ</p>
      </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Wild_cyclamens.jpg/1024px-Wild_cyclamens.jpg" alt="רקפת" height="500" width="750">
      </h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>