<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Here you can get information about CyberSafe</p>
      </div>
    </div>
  
    <div class="col-sm-5">
      <div class="well">
        <h3>
          <img src="https://pbs.twimg.com/profile_images/1234352486577668096/AXbixTdQ_400x400.jpg" 
          alt="חנות" height="300" width="350">
        </h3>
      </div>
    </div>
  </div>
  </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>