<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-3">
    <div class="jumbotron">
        <h1>איריס</h1>
        <p>פרחי האיריס נפוצים באזורים ממוזגים-קרירים עד ממוזגים-יבשים</p>
      </div>
  </div> 
  <div class="col-sm-6">
    <div class="well">
      <h3>
        <img src="https://www.ynet.co.il/PicServer2/24012010/3136289/1_gall.jpg" alt="איריס" height="500" width="750">
      </h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>