<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>  
<div class="row">
  <div class="col-sm-3">
    <div class="jumbotron">
        <h1>חמניה</h1>
        <p>ארץ מוצא של החמניה הוא מאמריקה הצפונית</p>
      </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h3>
        <img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/sunflower-1627193_1920.jpg?itok=yc2JGIPb" alt="חמניה" height="500" width="750">
      </h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>